# docker/docker-compose.yml
version: "3.9"

services:
  clickhouse:
    image: clickhouse/clickhouse-server:24.8
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      CLICKHOUSE_INIT_SCRIPTS_ONLY: 1
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
    volumes:
      - ../data/clickhouse:/var/lib/clickhouse
      - ./clickhouse/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8123/ping"]
      interval: 5s
      timeout: 3s
      retries: 60

  spark-master:
    build: ./spark-master
    container_name: spark-master
    volumes:
      - ../src:/opt/spark/work-dir/src
      - ../data:/data
    ports:
      - "9090:8080"
      - "7077:7077"
    environment:
      - INIT_DAEMON_STEP=setup_spark

  spark-worker:
    build: ./spark-worker
    container_name: spark-worker-1
    depends_on:
      - spark-master
    ports:
      - "9091:8081"
    environment:
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=4G

volumes:
  clickhouse: